body {
    margin: 0px;
}

a {
    text-decoration: none;
}

.header {
    margin-top: 16px;
    padding: 8px;
    width: 975px;
    border: solid 3px #000044;
    border-radius: 16px;
    background: #88CCFF;
    font-size: 48px;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.header:hover {
    background: #88CC00;
}

.button_wrap {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.button_main_left {
    margin-top: 16px;
    float: left;
    padding: 8px;
    width: 430px;
    border: solid 3px #000044;
    border-radius: 16px;
    background: #88CCFF;
    font-size: 48px;
    text-align: center;
    color: black;
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: center;
}

.button_main_left:hover {
    background: #88CC00;
}

.button_main_right {
    margin-top: 16px;
    float: right;
    padding: 8px;
    width: 430px;
    border: solid 3px #000044;
    border-radius: 16px;
    background: #88CCFF;
    font-size: 48px;
    text-align: center;
    color: black;
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: center;
}

.button_main_right:hover {
    background: #88CC00;
}

.page_title {
    margin-top: 16px;
    padding: 8px;
    width: 875px;
    border: solid 3px #000044;
    border-radius: 16px;
    background: #88CCFF;
    font-size: 44px;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.student_entry {
    margin-top: 16px;
    padding: 8px;
    width: 875px;
    border-radius: 16px;
    background: #88CCFF;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.student_entry:hover {
    background: #88CC00;
}

.main_entry {
    margin-top: 16px;
    padding: 8px;
    width: 875px;
    border: solid 3px #000044;
    border-radius: 16px;
    background: #88CCFF;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.main_entry:hover {
    background: #88CC00;
}

.student_entry_short_left {
    float: left;
    margin-top: 16px;
    padding: 8px;
    width: 630px;
    border-radius: 16px;
    background: #88CCFF;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-left: 20px;
    margin-right: 0px;
}

.student_entry_short_left:hover {
    background: #88CC00;
}

.student_entry_short_right {
    float: right;
    margin-top: 16px;
    padding: 8px;
    width: 200px;
    border-radius: 16px;
    background: #88CCFF;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-left: 0px;
    margin-right: 20px;
}

.student_entry_short_right:hover {
    background: #88CC00;
}

.mb {
    clear: both;
}

.fio_field {
    margin-top: 16px;
    padding: 8px;
    width: 875px;
    border-radius: 16px;
    background: #88CCFF;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.fio_field_err {
    margin-top: 16px;
    padding: 8px;
    width: 875px;
    border-radius: 16px;
    background: #FF0000;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.fio_field input {
    font-size: 40px;
    padding: 4px;
    width: 860px;
    border-radius: 16px;
    text-align: center;
}

.fio_field select {
    font-size: 40px;
    padding: 4px;
    width: 860px;
    border-radius: 16px;
    text-align: center;
}

.fio_field_err input {
    font-size: 40px;
    padding: 4px;
    width: 860px;
    border-radius: 16px;
    text-align: center;
}

.fio_field_err select {
    font-size: 40px;
    padding: 4px;
    width: 860px;
    border-radius: 16px;
    text-align: center;
}

.ok_button {
    cursor: pointer;
    margin-top: 16px;
    float: left;
    padding: 8px;
    width: 410px;
    border-radius: 16px;
    background: #88CCFF;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-left: 20px;
    margin-right: 0px;
    vertical-align: center;
}

.ok_button:hover {
    background: #88CC00;
}

.cancel_button {
    cursor: pointer;
    margin-top: 16px;
    float: right;
    padding: 8px;
    width: 410px;
    border-radius: 16px;
    background: #88CCFF;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-left: 0px;
    margin-right: 20px;
    vertical-align: center;
}

.cancel_button:hover {
    background: #88CC00;
}

.plain_text {
    margin-top: 16px;
    padding: 8px;
    width: 875px;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
}
